{
  "presets": [
    "@babel/env",
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }],
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "constants": "./src/constants",
          "domains": "./src/domains",
          "exceptions": "./src/exceptions",
          "middlewares": "./src/middlewares",
          "migrations": "./src/migrations",
          "models": "./src/models",
          "utils": "./src/utils",
          "repositories": "./src/repositories",
          "services": "./src/services",
          "serializers": "./src/serializers",
          "mocks": "./__mocks__",
        }
      }
    ],
  ]
}
